@import "./global/mixins";

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    box-sizing: border-box;
    margin: 0 auto;

    @include media-always {
        max-width: 1200px;
        padding: 0 15px;
    }
}
