@import "../../global/mixins";
@import "../../global/vars";

.page-title {
    line-height: 1.2;
    margin: 0;
    display: block;
    font-size: 45px;

    @include media-min($desktop) {
        font-size: 45px;
    }

    @include media-max($mobile) {
        font-size: 30px;
    }

    &__count {
        font-size: 50%;
        display: inline-block;
        transform: translateY(-75%);

        @include media-always {
            margin-left: 5px;
        }
    }
}
